<div class="container">
<h1><%= @list.name %></h1>
<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie)  %>
    <li>  <%= movie.title %> <%= cl_image_tag @bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <%=     link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger"%></li>
  <% end %>

</ul>
<%= link_to 'new bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
 </div>
